
.btn:focus, .pager-more:focus, .btn:active:focus, .pager-more:active:focus, .btn.active:focus, .pager-more.active:focus, .btn.focus, .pager-more.focus, .btn:active.focus, .pager-more:active.focus, .btn.active.focus, .pager-more.active.focus {
  outline: none !important;
}

#core_home_index #main {
  padding:           32px 0;
  background-image:  url("#{$static-common-url}/images/jubbotron.jpg");
  background-size:   cover;
  background-repeat: no-repeat;
}

#core_home_index #footer {
  margin-top: 0;
}