/config/*.local.php
/config/*.phpunit.php
/config/*.dev.php
/data/cache/*
/data/session/*
/data/log/*
/data/package/*
/data/temp/*
/vendor/
/tests/vendor
/tests/coverage/*

/static/node_modules/

/public/*