// letter spacing
@for $i from 0 through 10 {
  .letter-spacing-#{$i} { letter-spacing: 1em * $i/10; }
}

@each $i in uppercase, lowercase, capitalize {
  .#{$i} {
    text-transform: $i;
  }
}

@for $i from 0 through 10 {
  .overlay.dark-#{$i} {
    @include opacity($i/10);
  }
}

@each $i in justify, left, right {
  .txt-align-#{$i} { text-align: justify !important; }
}

ul.errors {
  list-style: none none outside;
  background-color: $state-danger-bg;
  color: $state-danger-text;
}