.form-inline-edit {
  .form-content {
    border: 1px solid $border-color;
  }
  .form-body {
  }
  .form-footer {
    background-color: #f8f8f8;
    padding:          $padding-small-vertical $padding-base-horizontal;
    border-top:       1px solid $border-color;
  }
}

.radio-help-block {
  margin-left: 20px;
}