//= General Configuration

$brand-primary: #337ab7; // color: # Brand Primary Color
$brand-success: #e2e2e2; // color: # Brand Success Color
$brand-info: #45bbe0 !default;; // color: # Brand Info Color
$brand-warning: #ff9800 !default;; // color: # Brand Warning Color
$brand-danger: #f7531f !default;; // color: # Brand Danger Color

$body-bg: #ffffff !default;; // color: # Body Background Color
$text-color: #333333 !default;; // color: # Text Color

$link-color: #337ab7 !default;; // color: # Link Color
$grid-gutter-width: 14px;
