.page-heading {
  padding-bottom: $padding-base-vertical;
}

.page-heading .page-filter {
  padding-bottom: $padding-base-vertical;
}

.kd-collapse {
  display: none;
}

.open > .kd-collapse {
  display: block;
}

.btn:focus, .pager-more:focus, .btn:active:focus, .pager-more:active:focus, .btn.active:focus, .pager-more.active:focus, .btn.focus, .pager-more.focus, .btn:active.focus, .pager-more:active.focus, .btn.active.focus, .pager-more.active.focus {
  outline: none !important;
}