$aside-width: 220px;
$aside-bg: #363e4a;
$aside-active-link-bg: darken($aside-bg, 2%);
$aside-color: #93a3af;
$aside-link-color: #93a3af;
$aside-has-border: false;
$aside-border: darken($aside-bg, 3%);
$aside-link-active-color: lighten($aside-link-color, 6%);
$header-height: 50px;
$body-bg: #eee;
$padding-base: 16px;
$color: #333;

// header

.dev-only{
  display: none;
}

.is_dev {
  .dev-only{
    display: block;
  }
  th.dev-only,td.dev-only{
    display: table-cell;
  }
}

.panel-footer{
  .btn + .btn{
    margin-left:8px;
  }
}



$header-bg: #fff;
$header-link-color: $aside-link-color;
$header-link-active-color: $aside-link-active-color;

.container {
  width: auto;
}

$layout-block-bg: #c3dca0;
$layout-location-bg: #a0dcc3;

$ibox-loading-width: 320px;
$ibox-loading-height: 120px;
$ibox-zindex: 100;

.pagination-sliding {
  text-align: center;
  .pagination {
    margin: 0;
  }
}

.form-filter {
  .form-group {
    display: inline-block;
  }
  .form-group + .form-group {
    margin-right: 10px;
  }
  .panel-body {
    padding-bottom: 5px;
  }
}

.ui-overlay {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .4);
  z-index: $ibox-zindex - 2;
}

.ibox-close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

.ibox-loading {
  p {
    position: fixed;
    left: 50%;
    bottom: 50%;
    width: $ibox-loading-width;
    height: $ibox-loading-height;
    margin-left: - $ibox-loading-width/ 2;
    margin-top: $ibox-loading-height;
    z-index: $ibox-zindex - 1;
    background-color: #fff;
    box-shadow: 0 2px 26px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1);
    &:before {
      content: "loading";
      display: block;
      width: $ibox-loading-width;
      text-align: center;
      line-height: $ibox-loading-height;
    }
  }
}

.ibox {
  height: auto;
  left: 0;
  min-height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.ibox-dialog {
  opacity: 0;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 26px rgba(0, 0, 0, .3), 0 0 0 1px rgba(0, 0, 0, .1);
  font-family: Helvetica, Arial, sans-serif;
  margin: 40px auto 40px auto;
  width: 680px;
  position: relative;
  z-index: $ibox-zindex;
  .ibox-xs & {
    width: 340px;
    margin-top: 50px;
  }
  .ibox-sm & {
    width: 480px;
  }
  .ibox-md & {
    width: 760px;
  }
  .ibox-lg & {
    width: 860px;
  }
}

.ibox-content {
  opacity: 0;
  position: relative;
}

.layout-location-heading {
  display: block;
  border: 1px solid darken($layout-location-bg, 10%);
  padding: 5px 5px 5px 10px;
  background-color: $layout-location-bg;
  margin-bottom: 5px;
}

.layout-editor-location {
  list-style: none none outside;
  margin: 0;
  padding: 0 0 60px 0;
  font-size: smaller;
}

.layout-editor-block,
.layout-editor-block-placeholder {
  display: block;
  border: 1px solid darken($layout-block-bg, 10%);
  padding: 5px 5px 5px 10px;
  background-color: $layout-block-bg;
  margin-bottom: 5px;
}

.layout-editor-block-placeholder {
  min-height: 30px;
}

@for $i from 1 through 30 {
  $width: $i * 10;
  .w#{$width} {
    width: #{$width}px
  }
}

// fix bootstrap
.control-label.required:after {
  content: "\2A";
  display: inline-block;
  color: #c00;
  font-weight: 300;
  padding: 0 5px;
}

.form-horizontal .control-label {
  text-align: left !important;
}

.form-group .help-block {
  font-size: small;
}

.form-control + .help-block {
  margin-bottom: 0 !important;
}

.dots a + a:before {
  content: "·";
  display: inline-block;
  padding-right: 5px;
}

body {
  background-color: $body-bg;
}

.main-wrapper {
  padding-left: $aside-width;
  margin-top: $header-height + $padding-base;
}

header {
  background-color: $header-bg;
  height: $header-height;
  position: fixed;
  z-index: 98;
  left: $aside-width;
  top: 0;
  right: 0;
  padding: 0 $padding-base;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

aside {
  padding: 0 0 40px 0;
  width: $aside-width;
  background-color: $aside-bg;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;

  .top {
    margin-bottom: 20px;
    line-height: $header-height;
    width: $aside-width;
    color: $aside-link-active-color;
    padding-left: $padding-base;
    background-color: lighten($aside-bg, 5%);
    border-bottom: 1px solid darken($aside-bg, 4%);
  }

  a:hover, a:focus {
    text-decoration: none;
  }

  ul {
    list-style: none none outside;
    margin: 0;
    padding: 0;
  }

  li > ul {
    display: none;
  }

  li.active > ul {
    display: block;
  }

  li {
    margin: 0;
    padding: 0;
  }
  li .fa-tail {
    float: right;
  }
  li .fa-tail:before {
    content: "\f0d7";
  }
  li > a {
    display: block;
    padding: 10px 12px;
    color: $aside-link-color;
    @if $aside-has-border {
      border-bottom: 1px solid $aside-border;
    }
  }

  li > a:hover,
  li > a:focus {
    background-color: $aside-active-link-bg;
    color: $aside-link-active-color;
  }
  li li a {
    padding-left: $padding-base *2;
  }
}

.toolbar {
  margin-bottom: $padding-base;
  padding: 0 10px 0 8px;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

.site-breadcrumb {
  list-style: none none outside;
  margin: 0;
  padding: 0;
  float: left;
  line-height: $header-height;

  li {
    display: inline-block;
    float: left;
  }

  li, li a {
    color: $color;
    text-decoration: none;
  }
  li a:hover {
    color: $color;
  }
  li + li:before {
    display: inline-block;
    content: "/";
    padding-left: 5px;
    padding-right: 5px;
  }
}

.content-wrapper, .main-search-wrapper {
  padding: 0 10px 0 8px;
}

.toolbar-bottom {
  margin-bottom: $padding-base;
}

.global-search-wrapper {
}

.fly-dropdown {
  position: absolute;
}

.dropdown-right .dropdown-menu {
  right: 0;
  left: auto;
}

tr.ui-sortable-helper {
  opacity: 0.98;
  background-color: darken(#fff, 20%);
  td {
    border-width: 0 !important;
    position: relative
  }
}

td.draggable {
  width: 20px;
  cursor: move;
  &:before {
    width: 20px;
    display: inline-block;
    content: "\f0c9";
    font-family: "FontAwesome";
    text-align: center;
  }
}

th, td {
  &.dropdown {
    position: relative;
    overflow: visible;
    cursor: pointer;
    width: 20px;
    &:before {
      width: 20px;
      display: inline-block;
      content: "\f0d7";
      font-family: "FontAwesome";
      text-align: center;
    }
    ul {
      display: none !important;
    }
  }
}

th.sortable {
  cursor: pointer;
  &:after {
    float: right;
    display: inline-block;
    content: "\f0dc";
    font-family: FontAwesome;
  }

  &.asc:after {
    content: "\f0dd";
  }
  &.desc:after {
    content: "\f0de";
  }
}