@charset "UTF-8";
.container {
  width: auto; }

.ui-overlay {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 98; }

.ibox-close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
  filter: alpha(opacity=20); }

.ibox-loading p {
  position: fixed;
  left: 50%;
  bottom: 50%;
  width: 320px;
  height: 120px;
  margin-left: -160px;
  margin-top: 120px;
  z-index: 99;
  background-color: #fff;
  box-shadow: 0 2px 26px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.1); }
  .ibox-loading p:before {
    content: "loading";
    display: block;
    width: 320px;
    text-align: center;
    line-height: 120px; }

.ibox {
  height: auto;
  left: 0;
  min-height: 100%;
  position: absolute;
  right: 0;
  top: 0; }

.ibox-dialog {
  opacity: 0;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 26px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 0, 0, 0.1);
  font-family: Helvetica, Arial, sans-serif;
  margin: 40px auto 40px auto;
  width: 680px;
  position: relative;
  z-index: 100; }
  .ibox-xs .ibox-dialog {
    width: 340px;
    margin-top: 50px; }
  .ibox-sm .ibox-dialog {
    width: 480px; }
  .ibox-md .ibox-dialog {
    width: 760px; }
  .ibox-lg .ibox-dialog {
    width: 860px; }

.ibox-content {
  opacity: 0;
  position: relative; }

.layout-location-heading {
  display: block;
  border: 1px solid #7bceab;
  padding: 5px 5px 5px 10px;
  background-color: #a0dcc3;
  margin-bottom: 5px; }

.layout-editor-location {
  list-style: none none outside;
  margin: 0;
  padding: 0 0 60px 0;
  font-size: smaller; }

.layout-editor-block,
.layout-editor-block-placeholder {
  display: block;
  border: 1px solid #abce7b;
  padding: 5px 5px 5px 10px;
  background-color: #c3dca0;
  margin-bottom: 5px; }

.layout-editor-block-placeholder {
  min-height: 30px; }

.w10 {
  width: 10px; }

.w20 {
  width: 20px; }

.w30 {
  width: 30px; }

.w40 {
  width: 40px; }

.w50 {
  width: 50px; }

.w60 {
  width: 60px; }

.w70 {
  width: 70px; }

.w80 {
  width: 80px; }

.w90 {
  width: 90px; }

.w100 {
  width: 100px; }

.w110 {
  width: 110px; }

.w120 {
  width: 120px; }

.w130 {
  width: 130px; }

.w140 {
  width: 140px; }

.w150 {
  width: 150px; }

.w160 {
  width: 160px; }

.w170 {
  width: 170px; }

.w180 {
  width: 180px; }

.w190 {
  width: 190px; }

.w200 {
  width: 200px; }

.w210 {
  width: 210px; }

.w220 {
  width: 220px; }

.w230 {
  width: 230px; }

.w240 {
  width: 240px; }

.w250 {
  width: 250px; }

.w260 {
  width: 260px; }

.w270 {
  width: 270px; }

.w280 {
  width: 280px; }

.w290 {
  width: 290px; }

.w300 {
  width: 300px; }

.control-label.required:after {
  content: "\2A";
  display: inline-block;
  color: #c00;
  font-weight: 300;
  padding: 0 5px; }

.form-horizontal .control-label {
  text-align: left !important; }

.form-group .help-block {
  font-size: small;
  text-indent: 4px; }

.form-control + .help-block {
  margin-bottom: 0 !important; }

.dots a + a:before {
  content: "·";
  display: inline-block;
  padding-right: 5px; }

body {
  background-color: #eee; }

.main-wrapper {
  padding-left: 220px;
  margin-top: 66px; }

header {
  background-color: #fff;
  height: 50px;
  position: fixed;
  z-index: 98;
  left: 220px;
  top: 0;
  right: 0;
  padding: 0 16px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15); }

aside {
  padding: 0 0 40px 0;
  width: 220px;
  background-color: #363e4a;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto; }
  aside .top {
    margin-bottom: 20px;
    line-height: 50px;
    width: 220px;
    color: #a5b2bc;
    padding-left: 16px;
    background-color: #414a59;
    border-bottom: 1px solid #2d343e; }
  aside a:hover, aside a:focus {
    text-decoration: none; }
  aside ul {
    list-style: none none outside;
    margin: 0;
    padding: 0; }
  aside li > ul {
    display: none; }
  aside li.active > ul {
    display: block; }
  aside li {
    margin: 0;
    padding: 0; }
  aside li .fa-tail {
    float: right; }
  aside li .fa-tail:before {
    content: "\f0d7"; }
  aside li > a {
    display: block;
    padding: 10px 12px;
    color: #93a3af; }
  aside li > a:hover,
  aside li > a:focus {
    background-color: #323944;
    color: #a5b2bc; }
  aside li li a {
    padding-left: 32px; }

.toolbar {
  margin-bottom: 16px;
  padding: 0 10px 0 8px; }

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0; }

.site-breadcrumb {
  list-style: none none outside;
  margin: 0;
  padding: 0;
  float: left;
  line-height: 50px; }
  .site-breadcrumb li {
    display: inline-block;
    float: left; }
  .site-breadcrumb li, .site-breadcrumb li a {
    color: #333;
    text-decoration: none; }
  .site-breadcrumb li a:hover {
    color: #333; }
  .site-breadcrumb li + li:before {
    display: inline-block;
    content: "/";
    padding-left: 5px;
    padding-right: 5px; }

.content-wrapper, .main-search-wrapper {
  padding: 0 10px 0 8px; }

.toolbar-bottom {
  margin-bottom: 16px; }

.fly-dropdown {
  position: absolute; }

.dropdown-right .dropdown-menu {
  right: 0;
  left: auto; }

tr.ui-sortable-helper {
  opacity: 0.98;
  background-color: #cccccc; }
  tr.ui-sortable-helper td {
    border-width: 0 !important;
    position: relative; }

td.draggable {
  width: 20px;
  cursor: move; }
  td.draggable:before {
    width: 20px;
    display: inline-block;
    content: "\f0c9";
    font-family: "FontAwesome";
    text-align: center; }

th.dropdown, td.dropdown {
  position: relative;
  overflow: visible;
  cursor: pointer;
  width: 20px; }
  th.dropdown:before, td.dropdown:before {
    width: 20px;
    display: inline-block;
    content: "\f0d7";
    font-family: "FontAwesome";
    text-align: center; }
  th.dropdown ul, td.dropdown ul {
    display: none !important; }

th.sortable {
  cursor: pointer; }
  th.sortable:after {
    float: right;
    display: inline-block;
    content: "\f0dc";
    font-family: FontAwesome; }
  th.sortable.asc:after {
    content: "\f0dd"; }
  th.sortable.desc:after {
    content: "\f0de"; }

/*# sourceMappingURL=custom.css.map */
